.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 100vh;

    input {
        width: clamp(20rem, 30vw, 60rem);
        height: 50px;
        font-size: 16px;
        padding: 10px;
    }

    span {
        font-size: 16px;
        color: crimson;
    }
}
