// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

// Global Styles
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // Colors
    --primary-color: #610054;
    --secondary-color: #008024;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #808080;
    --gray-color-1: #e7e4e4;
    --gray-color-2: #a0a0a0;
    --gray-color-3: #333;

    --sidebar-hover-color: #dbeaff;

    // Box Shadow
    --box-shadow: 0px 0px 10px 1px rgba(201, 201, 201, 0.8);

    // Transition
    --transition: all 0.5s ease;
}

h3 {
    color: var(--gray-color-3);
}

a {
    text-decoration: none;
}

.btn {
    width: 200px;
    font-size: 16px;
    color: var(--white-color);
    background: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px 30px;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
        background: var(--primary-color);
    }
}
